<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <connectionStrings>
        <add name="MODB" connectionString="server=LAPTOP-LDKKTL6G\STEVENZSERVER;database=IN_EV_DBS_MOVE;uid=steven;pwd=steven;"/>
        <add name="Adora" connectionString="server=LAPTOP-LDKKTL6G\STEVENZSERVER;database=IN_EV_DBS_ADORA;uid=steven;pwd=steven;"/>
    </connectionStrings>  
</configuration>