<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TXC" value="https://pkgs.dev.azure.com/edenred-apac-product/TXC/_packaging/TXC/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TXC>
      <add key="Username" value="TxcNugetPAT" />
      <add key="ClearTextPassword" value="" />
    </TXC>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="TXC" value="https://pkgs.dev.azure.com/edenred-apac-product/TXC/_packaging/TXC/nuget/v3/index.json" />
  </activePackageSource>
</configuration>