<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <connectionStrings>
        <add name="d_ev_authorizationContext" connectionString="Data Source=LAPTOP-LDKKTL6G\STEVENZSERVER;Initial Catalog=BAGA2;Persist Security Info=True;User ID=steven;Password=steven;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>